import React from 'react';

export interface {{pascalCase name}}Props {
  label: string;
}

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = (props) => {
  return <div>{props.label}</div>;
};
